/* StockX font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
/* StockX Green color: Hex#256241*/
*, *::before, *::after {
    font-family: 'Montserrat Alternatives', sans-serif;
    box-sizing: border-box;
}

.stockXgreen {
    color: #256241;
}

.fixed-button {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}