/* StockX font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
/* StockX Green color: Hex#256241*/
*, *::before, *::after, h1{
    font-family: 'Montserrat Alternatives', sans-serif;
    box-sizing: border-box;
}
h1 {
    display: inline;
}

.stockXgreen {
    color: #256241;
}
.header-div {
    width: 100%;
    height: 100px;
}
.fixed-button {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.level-counter {
    left: 0
}
.level-counter, .score {
    position: fixed;
    top: 0;
    margin: 2% 2%
}

.score {
    right: 0;
}

.sneaker-img {
    height: 600px;
    width: auto;
}

.game-div {
    text-align: center;
    align-items: center;
}

.input-div {
    text-align: center;
    height: 800px;
    width: auto;
    display: none;
    align-items: center;
    justify-content: center;
}
.black-outline {
    background-color: #fff;
    width: 80%;
    height: 25px;
    border: 1px solid #000;
    text-align: center;
    margin-top: 1%;
    font-size: .8em;
    text-transform: uppercase
}
.text-div {
    text-align: center;
    height: 800px;
    width: auto;
    display: none;
    align-items: center;
    justify-content: center;
}

.guess-input {
    height: 60%;
    border: none;
    top: 40px;
    bottom: 40px;
    margin: 0;
    padding: 10%;
    width: 80%;
    text-align: center;
    font-size: 92px;
    outline: none
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}